name: CI

on:
    pull_request:
        branches: [main]

jobs:
    unit-test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Setup Node
              uses: actions/setup-node@v6
            - name: Run Tests
              run: |
                  cd frontend
                  npm install
                  npm run test
